.FeaturedProduct {
  margin: 50px 100px;

  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;

    h1 {
      font-size: 28px;
      text-transform: capitalize;
      margin-bottom: 10px;
    }

    p {
      color: gray;
      line-height: 1.5;
      max-width: 600px;
    }
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .FeaturedProduct {
    margin: 50px 50px;

    .top {
      align-items: center;
      text-align: center;

      h1 {
        font-size: 24px;
      }

      p {
        max-width: 500px;
      }
    }

    .bottom {
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 600px) {
  .FeaturedProduct {
    margin: 20px;

    .top {
      align-items: center;
      text-align: center;

      h1 {
        font-size: 22px;
      }

      p {
        max-width: 100%;
        font-size: 14px;
      }
    }

    .bottom {
      flex-direction: column;
      align-items: center;
    }
  }
}
