.navbar {
  height: 80px;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
    }

    .heading {
      font-size: 36px;
      font-weight: 600;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .center {
      font-size: 30px;
      letter-spacing: 2px;
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      .icons {
        display: flex;
        align-items: center;
        gap: 15px;
        color: #777;

        .cartIcon {
          position: relative;
          cursor: pointer;
          span {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #2879fe;
            top: -10px;
            right: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
